### Gradle ###
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Kotlin/Java ###
*.class
*.jar
*.war
*.ear
*.kotlin_module

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs and OS files ###
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
